.search-item{
 cursor: pointer;
 
}


.vstack.gold .search-item:hover{
  background-color: gold;
  
}

.vstack.blue .search-item:hover{
  background-color: rgb(0, 236, 236);
  
}

.search-item.greyed{
  background-color: hsl(0, 0%, 90%);
  color: grey;
  
}


.vstack.blue .form-control:focus{
  border-color: rgb(0, 236, 236);
  box-shadow: 0 0 3px rgb(0, 236, 236);;
}

.vstack.gold .form-control:focus{
  border-color: gold;
  box-shadow: 0 0 3px gold;;
}


.search-btn{
  background-color: transparent;
  transition: all 0.3s;
}

.vstack.gold .search-btn{
  color: gold;
  border-color: gold;
}

.vstack.gold .search-btn:hover{
  color: rgb(0, 236, 236);
  border-color: rgb(0, 236, 236);
  background-color: transparent;
}

.vstack.gold .search-btn:active{
  border-color: black;
  color: black;
  background-color: gold;
}

.vstack.blue .search-btn{
  color: rgb(0, 236, 236);
  border-color: rgb(0, 236, 236);
}

.vstack.blue .search-btn:hover{
  color: gold;
  border-color: gold;
  background-color: transparent;
}

.vstack.blue .search-btn:active{
  border-color: black;
  color: black;
  background-color: rgb(0, 236, 236);
}